<?xml version="1.0" ?>

<launch>

	<param command="$(find xacro)/xacro $(find mecanum_description)/xacro/mecanum_xacro.xacro" name="robot_description"/>

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="world_name" value="$(find mecanum_description)/worlds/maze.world"/>
	</include>

</launch>