<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find mecanum_description)/xacro/mecanum_xacro.xacro"/>
  <arg name="rvizconfig" default="$(find mecanum_description)/rviz/mecanum_xacro.rviz" />
  <arg name="gui" default="true" />



  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <param name="use_gui" value="$(arg gui)"/>


  <rosparam command="load" file="$(find mecanum_description)/config/steering_driver.yaml" ns="robot_diff_drive_controller" />

  <rosparam command="load" file="$(find mecanum_description)/config/gazebo_ros_control_params.yaml"/>

  <rosparam command="load" file="$(find mecanum_description)/config/joints.yaml" ns="mobile_robot_joint_state_controller"/>


  <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="robot_controller_spawner" pkg="controller_manager" type="spawner" args="mobile_robot_joint_state_controller robot_diff_drive_controller --shutdown-timeout 3"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mecanum_description)/worlds/maze/maze.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args=" -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <!-- <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/robot_diff_drive_controller/cmd_vel"/>
  </node> -->

</launch>